<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asset Management</title>
  </head>
  <body>
    <%- include("./sidebar.ejs") %>

    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"
            ><i class="fas fa-bars"></i
          ></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Home</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-widget="navbar-search"
            href="#"
            role="button"
          >
            <i class="fas fa-search"></i>
          </a>
          <div class="navbar-search-block">
            <form class="form-inline">
              <div class="input-group input-group-sm">
                <input
                  class="form-control form-control-navbar searchBox"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-navbar"
                    type="button"
                    onclick="handleSearch()"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                  <button
                    class="btn btn-navbar"
                    type="button"
                    data-widget="navbar-search"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </nav>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
            onclick="openAddModal()"
          >
            Add New User Account
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Modal title
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="createAccount">
                    <div class="form-group">
                      <label for="FirstName">First Name</label>
                      <input
                        type="text"
                        class="FirstName"
                        name="FirstName"
                        placeholder="First Name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="LastName">Last Name</label>
                      <input
                        type="text"
                        class="LastName"
                        name="LastName"
                        placeholder="Last Name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="DateOfBirth">Date Of Birth</label>
                      <input
                        type="date"
                        class="DateOfBirth"
                        name="DateOfBirth"
                        placeholder="Date Of Birth"
                      />
                    </div>
                    <div class="form-group">
                      <label>Role</label>
                      <select class="roleCreate">
                        <option value="0">Admin</option>
                        <option value="1">Staff</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Gender</label>
                      <select class="Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="UserName">User Name </label>
                      <input
                        type="text"
                        class="UserName"
                        name="UserName"
                        placeholder="User Name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="StaffCode">Staff Code</label>
                      <input
                        type="text"
                        class="StaffCode"
                        name="StaffCode"
                        placeholder="Staff Code"
                      />
                    </div>
                    <div class="form-group">
                      <label for="Password">Password</label>
                      <input
                        type="password"
                        class="Password"
                        name="Password"
                        placeholder="Password"
                      />
                    </div>
                    <div class="form-group">
                      <label for="Email">Email</label>
                      <input
                        type="text"
                        class="Email"
                        name="Email"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                  <div class="updateAccount">
                    <div class="form-group">
                      <label>Role xxxx</label>
                      <select class="roleUpdate">
                        <option value="0">Admin</option>
                        <option value="1">Staff</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary addbtn"
                    onclick="handleAddNew()"
                  >
                    Add
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary updatebtn"
                    onclick="handleUpdate()"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Role</th>
                        <th scope="col">User Name</th>
                        <th scope="col">StaffCode</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% listUser.map((value,index)=>{ %>
                      <tr>
                        <td scope="row"><%= index + 1 %></td>
                        <td><%= value.FirstName %></td>
                        <td><%= value.LastName %></td>
                        <td>
                          <%=value.DateOfBirth?
                          value.DateOfBirth.toLocaleString('fr-CA', { year:
                          'numeric', month: '2-digit', day: '2-digit' }):null %>
                        </td>
                        <td><%= value.Gender %></td>
                        <td><%= value.Role %></td>
                        <td><%= value.UserName %></td>
                        <td><%= value.StaffCode %></td>
                        <td>
                          <p
                            data-toggle="modal"
                            data-target="#exampleModal"
                            class="btn btn-warning"
                            onclick="openUpdate('<%= value._id %>')"
                          >
                            Update
                          </p>
                          <p
                            class="btn btn-danger"
                            onclick="handleDelete('<%= value._id %>')"
                          >
                            Delete
                          </p>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/public/js/admin-UserPage.js"></script>
  </body>
</html>
