<table class="table">
  <thead class="table-thead">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">AssetName</th>
      <th scope="col">Category</th>
      <th scope="col">State</th>
      <th scope="col">AssetDate</th>
      <th scope="col">CreatedDate</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-tbody">
    <% listAsset.map(function(asset, index){ %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= asset.AssetName %></td>
      <td><%= asset.Category.CategoryName %></td>
      <td><%= asset.State %></td>
      <td><%= asset.AssetDate %></td>
      <td><%= asset.CreatedDate.toLocaleString() %></td>
      <td>
          <button onclick="haDelete('<%= asset._id %>')">Delete</button>
        
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            onclick="opUpdate('<%= asset._id %>')"
          >
            update
          </button>
        
      </td>
    </tr>
    <%})%>
  </tbody>
</table>

